---
import PageLayout from "../layouts/PageLayout.astro";
import ListaEpisodios from '../components/ListaEpisodios.astro';
import { SITE_TITLE } from "../config";
import PageMeta from "../components/PageMeta.astro";
---

<PageLayout title="Episodios del Podcast">
    <PageMeta title={`${SITE_TITLE} | ⌐◨-◨ Episodios Nouns-Amigo X  Volketa Interestelar`} slot="meta" />
    <Fragment slot="main">
  <main>
    <h1>Episodios Nouns Amigos x Radio Volketa Interestelar ⌐◨-◨ </h1>
    <ListaEpisodios />
  </main>
</Fragment>
</PageLayout>

<style>
  h1 {
    font-family: 'Londrina Solid', cursive;
    font-weight: 900;
    font-size: 3rem;
    color: #ee4a4a;
    text-align: center;
    margin-bottom: 2rem;
    letter-spacing: 0.5px;
  }
</style> 