---
import Layout from '../layouts/Layout.astro';
import Post from '../components/Post.astro';
import { SITE } from '../config';
---

<Layout title={SITE.title}>
  <!-- Main -->
  <div class="flex " id="main">
    <div class="flex justify-items-center">
 <audio src="https://live.radiolibre.cc/live.ogg" controls />
</div>
  </div>
  
</Layout>
