---
---

<footer class="text-center p-4 font-londrina">
  <p class="text-sm text-gray-600 dark:text-gray-400">
     Radio Volketa Interestelar -  <span id="currentYear"></span>
  </p>
</footer>

<script>
  const yearElement = document.getElementById('currentYear');
  if (yearElement) {
    yearElement.textContent = new Date().getFullYear().toString();
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');
  
  .font-londrina {
    font-family: 'Londrina Solid', cursive;
  }
</style>
