---
// Componente ActualizarDatos.astro
type Episodio = {
  name: string;
  listeners: string;
  broadcastCode: string;
  yp_currently_playing: string;
  title: string;
};

let episodios: Episodio[] = [];

async function fetchData() {
  const datos = await fetch('https://dev.p-node.org/api/v1/streams_list/?search=');
  const data = await datos.json();
  console.log('Respuesta de API:', data);
  episodios = Array.isArray(data) ? [data[0]] : data?.items ? [data.items[0]] : [];
}

await fetchData();
setInterval(fetchData, 30000);

---

<div> 
  <div> 
    <iframe src="https://stream.p-node.org/contretemps.mp3"></iframe>
  </div>
 
  <section class="mb-8" id="datos-stream">
    {episodios.map((episodio) => (
      <div>
        <h2>CANCIÓN: {episodio.title}</h2>
        <p>Número: {episodio.yp_currently_playing}</p>
        <p>Oyentes: {episodio.listeners}</p>
        <p>Código de transmisión: {episodio.broadcastCode}</p>
      </div>
    ))}
  </section>
</div>