---

---

<div class="flex flex-col items-center justify-center min-h-screen p-4 font-londrina">


  <img src="https://raw.githubusercontent.com/Noisk8/RadioVolKETAInterestelar/refs/heads/main/public/155777732.png" alt="Nouns Amigos" class="w-32 h-32 rounded-full shadow-lg mb-4" />
  <h1 class="text-2xl font-bold mb-4 dark:text-red-600  text-red-500 font-londrina">
    ⌐◨-◨ Nouns Amigos x Radio Volketa Interestelar ⌐◨-◨
  </h1>
  <div class="w-full max-w-md mx-auto mb-8 text-center font-londrina"> 
  
    <audio 
      src="https://stream.p-node.org/contretemps.mp3" 
      controls
      autoplay 
      class="w-full rounded-lg shadow-md"
    ></audio>
  </div>

  <div>
    <p class="dark:text-blue-300">⌐◨-◨ Si deja de sonar recargue la página ⌐◨-◨</p>
  </div>


<div class=" pt-8">
  <a href="https://radio.noisk8.xyz/episodios">    <h2 class="text-2xl font-londrina">Ver episodios</h2> </a>

</div>

</div>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');
  
  .font-londrina {
    font-family: 'Londrina Solid', cursive;
  }
</style>
