---

---

<div class="flex flex-col items-center justify-center min-h-screen p-4">


  <img src="/public/155777732.png" alt="Nouns Amigos" class="w-32 h-32 rounded-full shadow-lg mb-4" />
  <h1 class="text-2xl font-bold mb-4 dark:text-red-600  text-red-500">
    ⌐◨-◨ Nouns Amigos x Radio Volketa Interestelar ⌐◨-◨
  </h1>
  <div class="w-full max-w-md mx-auto mb-8 text-center"> 
  
    <audio 
      src="https://stream.p-node.org/contretemps.mp3" 
      controls
      autoplay 
      class="w-full rounded-lg shadow-md"
    ></audio>
  </div>

  <div>
    <p class="dark:text-blue-300">⌐◨-◨ Si deja de sonar recargue la página ⌐◨-◨</p>
  </div>


<div class=" pt-8">
  <a href="https://radio.noisk8.xyz/episodios">  </a>
  <h2 class="text-2xl">Ver episodios</h2>
</div>

</div>
